.loadingText {
  color: var(--tg-theme-text-color);
  font-size: var(--tg-theme-font-size-base);
  font-weight: var(--tg-theme-font-weight-medium);
  text-align: center;
  line-height: 1.5;
  margin-top: var(--tg-theme-mobile-margin);
}