.titleContainer {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}
.label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
  display: block;
}

.button {
  display: inline-block; /* Makes the button adaptable to text size */
  padding: 15px 60px; /* Adjusts space inside the button */
  background-color: #171346; /* Button background color (matches the image) */
  color: white; /* Text color */
  font-family: 'Poppins', sans-serif; /* Text font */
  font-weight: 600; /* Bold text */
  text-align: center; /* Centers the text */
  border: none; /* Removes default borders */
  border-radius: 25px; /* Rounds the corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.button:hover {
  background-color: #EE726B; /* Slightly lighter color on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.button:active {
  background-color: #FE958F; /* Darker color when clicked */
  box-shadow: none; /* Removes shadow when clicked */
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #e74c3c;
  margin-top: 12px;
  font-size: 14px;
}

.horoscope {
  margin-top: 24px;
  font-size: 20px;
  color: #333;
}


.citationWindow {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-left: 4px solid #2e2359;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  color: #4a4a4a;
}

.citationText {
  font-style: italic;
  margin-bottom: 15px;
}

/* Responsive adjustments */
@media (min-width: 768px) {

  .label {
    font-size: 18px;
  }

  .select {
    font-size: 18px;
  }

  .button {
    font-size: 18px;
  }

  .horoscope {
    font-size: 22px;
  }
}