.titleContainer {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}
.label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
  display: block;
}

.error {
  color: #e74c3c;
  margin-top: 12px;
  font-size: 14px;
}

.horoscope {
  margin-top: 24px;
  font-size: 20px;
  color: #333;
}


.citationWindow {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-left: 4px solid #2e2359;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  color: #4a4a4a;
}

.citationText {
  font-style: italic;
  margin-bottom: 15px;
}

/* Responsive adjustments */
@media (min-width: 768px) {

  .label {
    font-size: 18px;
  }

  .select {
    font-size: 18px;
  }

  .button {
    font-size: 18px;
  }

  .horoscope {
    font-size: 22px;
  }
}