.resultContainer {
  margin-top: 2rem;
  text-align: justify;
}

.resultContainer h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--tg-theme-text-color);
}

.resultContainer p {
  font-size: 1rem;
  color: var(--tg-theme-text-color);
}
