.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.horoscopeImage {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.error {
  color: var(--error);
  margin-top: 12px;
  font-size: 14px;
}

.horoscope {
  margin-top: 24px;
  font-size: 20px;
  color: var(--tg-theme-text-color);
}

.resultContainer {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  font-size: 16px;
  color: var(--text-secondary);
}

.resultText {
  font-style: italic;
  margin-bottom: 15px;
  color: var(--text-primary);
  text-align: justify;
}

.resultTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text-primary);
}

.onboardingContent {
  background-color: var(--tg-theme-bg-color);
}

.triggerButton {
  display: inline-flex;
  background-color: var(--tgui--button_color);
  color: var(--tgui--button_text_color);
  width: 90%;
  gap: 8px;
  height: 42px;
  min-width: 42px;
  padding: 8px 14px;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: center;
  --tgui--button--hovered-opacity: .15;
  --tgui--button--spinner-color: var(--tgui--button_text_color);
  cursor: pointer;
}

.triggerButton:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}


/* Responsive adjustments */
@media (min-width: 768px) {
  .horoscope {
    font-size: 22px;
  }
}