/* History Section */
.history {
  width: 100%;
  padding: var(--tg-theme-mobile-card-padding);
}

.history h3 {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--tg-theme-font-size-h3);
  font-weight: var(--tg-theme-font-weight-bold);
  margin-bottom: 1rem;
}

.predictionList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.predictionItem {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: var(--tg-theme-border-radius);
  transition: transform var(--tg-theme-transition-duration) var(--tg-theme-transition-timing);
  margin-bottom: 10px;
  gap: 0.5rem;
  border: 1px solid var(--tg-theme-text-color)
}

.predictionItem:hover {
  transform: translateY(-2px);
}

.predictionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.predictionType {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: var(--tg-theme-font-size-small);
  background: var(--gradient-one);
  color: var(--tg-theme-text-color);
}

.predictionContent {
  color: var(--tg-theme-text-color);
  margin: 0;
  line-height: 1.4;
  font-size: var(--tg-theme-font-size-base);
}

.predictionDate {
  align-self: flex-end;
  color: var(--tg-theme-text-color);
  font-style: italic;
  font-size: var(--tg-theme-font-size-small);
}

.noPredictions {
  text-align: center;
  color: var(--tg-theme-hint-color);
  font-style: italic;
  padding: 2rem 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
