.task {
  padding: 12px;
  margin: 8px 0;
  background-color: var(--tg-theme-bg-color);
  border-radius: 8px;
  border: 1px solid var(--tg-theme-button-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.bonuses {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--tg-theme-hint-color);
}
