.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h4 {
  margin-bottom: 20px;
  text-align: center;
}

.onboardingContent {
  background-color: var(--tg-theme-bg-color);
}

.onboardingContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.select {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.button {
  margin: 5px;
}

/* Moved btn styles here */
.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #0056b3;
}
