.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

h4 {
  margin-bottom: 20px;
  text-align: center;
}

.onboardingContent {
  background-color: var(--tg-theme-bg-color);
}

.onboardingContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 40px;
}

.select {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s;
}

.button {
  margin: 5px;
}

.triggerButton {
  display: inline-flex;
  background-color: var(--tgui--button_color);
  color: var(--tgui--button_text_color);
  width: 90%;
  gap: 8px;
  height: 42px;
  min-width: 42px;
  padding: 8px 14px;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: center;
  --tgui--button--hovered-opacity: .15;
  --tgui--button--spinner-color: var(--tgui--button_text_color);
}

.btn:hover {
  background-color: #0056b3;
}
