.affirmationContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 500px;
}

.bannerBackground {
  background: linear-gradient(to top, #2980b9, #6dd5fa);
  padding: 16px;
  border-radius: 12px;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 100%;
}

.selectContainer {
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  color: var(--tg-theme-text-primary);
}

.select {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: var(--tg-theme-border-radius);
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}