.affirmationContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 500px;
}

.bannerBackground {
  background: linear-gradient(to right, #99f2c8, #1f4037);
  padding: 16px;
  border-radius: 12px;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 100%;
}
